body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #e2b2cd;
}

#notas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.nota {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border-radius: 5px;
    font-weight: bold;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
    border: none;
    border-radius: 5px;
}

.calcular-btn {
    background-color: #28a745;
    color: rgb(255, 255, 255);
}

.reiniciar-btn {
    background-color: #aa4b54;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

button:hover {
    opacity: 0.8;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 10rem;
}